doctype html

- let title = "Title"
- let year = "Year"
- let duration = "Duration"
- let director = "Director"
- let actors = "Actors"
- let synopsis = "Synopsis"
- let genre = "Genre"


html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PetFlix
        link(rel="stylesheet", href="../public/stylesheets/filmStyle.css", type="text/css")

    body 
        div(class="header")
            
            #logo
                img(src="../public/images/index/logoFull.webp" alt="logo")
            #menu
                
                input(type="search" class="form-control" placeholder="Search for a movie")
                button(class="btn") Search
                details 
                    summary 
                        img#profile(src='' alt="profile")
                    ul 
                        li 
                            a.profile(href="") Profile
                        li  
                            a.settings(href="") Settings
                        li 
                            a.logOut(href="") Log out
        main
            .movie(src="#") 
                section.moviePoster
                    img(src="#" alt="poster") 
                    button.play 
                        img(src="../public/images/film-page/play-button.webp" alt="play-button")                   
                section.movieInfo
                    h1.info#title #{title}
                    .numeric 
                        .info#year #{year}
                        .info#duration #{duration}
                    .info#real Director: #{director}
                    .info#actors Actors: #{actors}
                    .info#synopsis #{synopsis}
                        | il etait une fois dans un plus long texte, plus long texte, plus long texte, plus long texte
                        | il etait une fois dans un plus long texte, plus long texte, plus long texte
                        | il etait une fois dans un plus long texte, plus long texte
                        | il etait une fois dans un plus long texte
                        | il etait une fois dans un plus long texte
                        | il etait une fois dans un plus long texte
                        | il etait une fois dans un plus long texte

                    .info#genreT #{genre}
    script(src="https://kit.fontawesome.com/5f411ae6ac.js" crossorigin="anonymous")
    script(src="../routes/film.js")